:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-style: normal;
  height: 100vh;
  width: 100vw;
  background-color: #23252C;

  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

